{{! Comments }}
<div class="card">
    <div class="card-header bi bi-chat-dots"> {{#comments.size}}{{comments.size}}{{/comments.size}}Comments</div>

    {{! 댓글내용 부분 }}
    <ul class="list-group-flush">
        {{#comments}}
        <li class="list-group-item">
            <span>
                <span style="font-size: small">{{nickname}}</span>

                <span style="font-size: xx-small">{{createdDate}}</span>
                &nbsp;
                <button class="badge bi bi-pencil-square"> 수정</button>
                <button class="badge bi bi-trash"> 삭제</button>
            </span>
            <div>
                {{comment}}
            </div>
        </li>
        {{/comments}}
    </ul>
</div>
