{{>layouts/header}}
<!--네비게이션-->


<div class="modal modal-signin position-static d-block  py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-5 shadow">
            <div class="modal-header p-5 pb-4 border-bottom-0">
                <!-- <h5 class="modal-title">Modal title</h5> -->
                <h2 class="fw-bold mb-0">오늘도 열심히 살려고하자</h2>
            </div>

            <div class="modal-body p-5 pt-0">
                <form method="post" action="/articles/LoginAction">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control rounded-4" name="username"
                               placeholder="name@example.com">
                        <label for="floatingInput">아이디</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control rounded-4" name="password" placeholder="Password">
                        <label for="floatingPassword">비밀번호</label>
                    </div>

                    <span>
                        {{#error}}
                        <p id="valid" class="alert alert-danger">{{exception}}</p>
                        {{/error}}
                    </span>
                    <button class="w-100 mb-2 btn btn-lg rounded-4 btn-dark" type="submit">로그인</button>
                    <hr class="my-4">
                    <a href="/oauth2/authorization/naver" role="button" class="w-100 mb-2 rounded-4 btn btn-outline-success"><img style="width : 20px height : 20px" id="img" src="/img/naver.png"/> 로그인</a>
                    <a href="/oauth2/authorization/google" role="button" class="w-100 mb-2 rounded-4 btn btn-outline-danger bi bi-google"> 로그인</a>
                    <a href="/articles/join" class="w-100 mb-2 btn btn-lg rounded-4 btn-outline-dark">회원가입</a>
                    <a href="#" class="w-100 mb-2 btn btn-lg rounded-4 btn-outline-dark">아이디 찾기</a>
                    <a href="#" class="w-100 mb-2 btn btn-lg rounded-4 btn-outline-dark">비밀번호 찾기</a>


                </form>
            </div>
        </div>
    </div>
</div>


{{>layouts/footer}}



