
<!--네비게이션-->
{{>layouts/header}}

<form class="container" action="/articles/create" method="post">
    <!--csrf-->
   <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="hidden" name="nickname" value="{{playUser.nickname}}"/>
    <input type="hidden" name="username" value="{{playUser.username}}"/>

    <div class="mb-3 mt-4">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary ">확인</button>
</form>
{{>layouts/footer}}

