
<!--네비게이션-->
{{>layouts/header}}
{{#posts}}

<form class="container" action="/articles/updateAction" method="post">
    <div class="mb-3 mt-4">

        <input type="hidden" name="nickname" value="{{user.nickname}}"/>
        <input type="hidden" name="username" value="{{user.username}}"/>

        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title" value="{{title}}">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content">{{content}}</textarea>
    </div>
<!--숨김-->
    <div class="mb-3 ">
<!--        <label class="form-label">아이디</label>-->
        <input type="hidden" class="form-control" rows="3" name="id" value="{{id}}">
    </div>

        <!--숨김-->
    <button type="submit" class="btn btn-primary ">수정</button>
</form>

{{/posts}}

{{>layouts/footer}}
