
<!--네비게이션-->
{{>layouts/header}}

<div class = "container mx-auto mt-4">
    <div class = "row">
        <table class="table table-striped" style="text-align : center;">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td ><a class ="text-decoration-none text-dark text-hover-red"
                            href="/articles/read/{{id}}">{{title}}</a></td>
                    <td>{{content}}</td>
                    <td>{{timestamp}}</td>
                    <td>{{view}}</td>

                </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>

<!--다음 페이지 버튼-->
    {{! Page }}
    <div class="pagination justify-content-center">
        {{#hasPrev}}
            <a href="?page={{previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill"></a>
        {{/hasPrev}}
        {{^hasPrev}}
            <a href="?page={{previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill disabled"></a>
        {{/hasPrev}}
        {{#hasNext}}
            <a href="?page={{next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill"></a>
        {{/hasNext}}
        {{^hasNext}}
            <a href="?page={{next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill disabled"></a>
        {{/hasNext}}
    </div>


    <div>
        <form class="d-flex" action="/articles/search" method="GET" role="search">
            <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="keyword">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="/articles/new" class="btn btn-dark ">글쓰기</a>
    </div>
</div>






{{>layouts/footer}}

