<!--네비게이션-->
{{>layouts/header}}



{{#posts}}
    <div class="container">
        <div class="mb-3 mt-4">
            <label class="form-label">제목</label>
            <label type="text" class="form-control" name="title" >{{title}}</label>
        </div>

        <div class="mb-3">
            <label class="form-label">내용</label>
            <label style="line-height: 50em;" type="text" class="form-control" name="content" > {{content}}</label>
        </div>
{{/posts}}
{{#writer}}
        <div class="d-grid gap-2 d-md-flex ">
            <a href="/" class="btn btn-dark">목록</a>
            <a href="/articles/noteUpdate/{{id}}" class="btn btn-dark ">수정</a>
            <a href="/articles/noteDelete/{{id}}" class="btn btn-dark ">삭제</a>
        </div>
{{/writer}}


{{^user}}
        <a href="/" role="button" class="btn btn-dark bi bi-arrow-return-left">목록</a>
{{/user}}

{{! Comments }}
{{>layouts/commentList}}
{{>layouts/commentForm}}
</div>



{{>layouts/footer}}